#!/bin/bash

# Kill System Preferences to avoid conflicts
osascript -e 'tell application "System Preferences" to quit'

# Use touch id for sudo
TOUCHID_SUDO_CONFIG="auth       sufficient     pam_tid.so"

sudo cp /etc/pam.d/sudo /etc/pam.d/sudo.bak.$(date +%Y%m%d%H%M%S)

if ! grep -qF "$TOUCHID_SUDO_CONFIG" /etc/pam.d/sudo; then
  sudo sed -i '' "1i\\
$TOUCHID_SUDO_CONFIG
" /etc/pam.d/sudo
fi

# pmset
sudo pmset -a sleep 0
sudo pmset -a powernap 1
sudo pmset -a lidwake 1
sudo pmset -b halfdim 1

# scutil
sudo scutil --set ComputerName "{{ .apple.computername }}"
sudo scutil --set HostName "{{ .apple.hostname }}"
sudo scutil --set LocalHostName "{{ .apple.localhostname }}"

# networksetup
networksetup -setdnsservers Wi-Fi 1.1.1.2 1.0.0.2

# Dock

defaults write com.apple.dock "orientation" -string "right"
defaults write com.apple.dock "tilesize" -int "48"
defaults write com.apple.dock "autohide" -bool "true"
defaults write com.apple.dock "autohide-time-modifier" -float "0.25"
defaults write com.apple.dock "autohide-delay" -float "0.2"
defaults write com.apple.dock "show-recents" -bool "false"
defaults write com.apple.dock "mineffect" -string "genie"
defaults write com.apple.dock "static-only" -bool "false"
defaults write com.apple.dock "scroll-to-open" -bool "true"
defaults write com.apple.dock "enable-spring-load-actions-on-all-items" -bool "true"

# Screenshots

defaults write com.apple.screencapture "disable-shadow" -bool "false"
defaults write com.apple.screencapture "include-date" -bool "true"
defaults write com.apple.screencapture "location" -string "~/Downloads"
defaults write com.apple.screencapture "show-thumbnail" -bool "true"
defaults write com.apple.screencapture "type" -string "png"

# Safari

defaults write com.apple.finder "QuitMenuItem" -bool "false"
defaults write NSGlobalDomain "AppleShowAllExtensions" -bool "false"
defaults write com.apple.finder "AppleShowAllFiles" -bool "false"
defaults write com.apple.finder "ShowPathbar" -bool "true"
defaults write com.apple.finder "FXPreferredViewStyle" -string "clmv"
defaults write com.apple.finder "_FXSortFoldersFirst" -bool "true"
defaults write com.apple.finder "FinderSpawnTab" -bool "false"
defaults write com.apple.finder "FXDefaultSearchScope" -string "SCcf"
defaults write com.apple.finder "FXRemoveOldTrashItems" -bool "true"
defaults write com.apple.finder "FXEnableExtensionChangeWarning" -bool "false"
defaults write NSGlobalDomain "NSDocumentSaveNewDocumentsToCloud" -bool "false"
defaults write NSGlobalDomain "NSToolbarTitleViewRolloverDelay" -float "0.5"
defaults write NSGlobalDomain "NSTableViewDefaultSizeMode" -int "1"
defaults write com.apple.finder "_FXEnableColumnAutoSizing" -bool "true"
defaults write com.apple.finder "ShowStatusBar" -bool "true"

# Desktop

defaults write com.apple.finder "_FXSortFoldersFirstOnDesktop" -bool "true"
defaults write com.apple.finder "CreateDesktop" -bool "true"
defaults write com.apple.finder "ShowHardDrivesOnDesktop" -bool "false"
defaults write com.apple.finder "ShowExternalHardDrivesOnDesktop" -bool "false"
defaults write com.apple.finder "ShowRemovableMediaOnDesktop" -bool "false"
defaults write com.apple.finder "ShowMountedServersOnDesktop" -bool "false"

# Menubar

defaults write com.apple.menuextra.clock "FlashDateSeparators" -bool "false"
defaults write com.apple.menuextra.clock "DateFormat" -string "\"EEE d MMM HH:mm\""

# Mouse & Trackpad

defaults write NSGlobalDomain com.apple.mouse.linear -bool "false"
defaults write NSGlobalDomain com.apple.mouse.scaling -float "1"
defaults write com.apple.Terminal "FocusFollowsMouse" -bool "false"
defaults write com.apple.AppleMultitouchTrackpad "FirstClickThreshold" -int "1"
defaults write com.apple.AppleMultitouchTrackpad "DragLock" -bool "false"
defaults write com.apple.AppleMultitouchTrackpad "Dragging" -bool "true"
defaults write com.apple.AppleMultitouchTrackpad "TrackpadThreeFingerDrag" -bool "false"

# Keyboard

defaults write NSGlobalDomain "ApplePressAndHoldEnabled" -bool "true"
defaults write com.apple.HIToolbox AppleFnUsageType -int "0"
defaults write NSGlobalDomain com.apple.keyboard.fnState -bool false
defaults write NSGlobalDomain AppleKeyboardUIMode -int "2"
defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false
defaults write kCFPreferencesAnyApplication TSMLanguageIndicatorEnabled -bool "true"

# Mission Control

defaults write com.apple.dock "mru-spaces" -bool "false"
defaults write com.apple.dock "expose-group-apps" -bool "true"
defaults write NSGlobalDomain "AppleSpacesSwitchOnActivate" -bool "true"
defaults write com.apple.spaces "spans-displays" -bool "true"


# Miscellaneous

defaults write com.apple.appleseed.FeedbackAssistant "Autogather" -bool "false"

defaults write com.apple.dt.Xcode "ShowBuildOperationDuration" -bool "true"
defaults write com.apple.iphonesimulator "ScreenShotSaveLocation" -string "~/Downloads"

defaults write com.apple.TextEdit "RichText" -bool "false"
defaults write com.apple.TextEdit "SmartQuotes" -bool "false"

defaults write com.apple.TimeMachine "DoNotOfferNewDisksForBackup" -bool "false"

defaults write com.apple.ActivityMonitor "UpdatePeriod" -int "5"
defaults write com.apple.ActivityMonitor "IconType" -int "0"

defaults write com.apple.CloudSubscriptionFeatures.optIn "545129924" -bool "true"
defaults write com.apple.helpviewer "DevMode" -bool "false"

defaults write com.apple.Music "userWantsPlaybackNotifications" -bool "false"

defaults write com.apple.LaunchServices "LSQuarantine" -bool "false"

defaults write NSGlobalDomain "NSCloseAlwaysConfirmsChanges" -bool "true"

defaults write NSGlobalDomain "NSQuitAlwaysKeepsWindow" -bool "false"

# Disable local Time Machine backups
sudo tmutil disablelocal 2>/dev/null || true

killall Finder
killall Dock
killall Safari

killall TimeMachine
killall Activity Monitor
killall SystemUIServer

killall TextEdit
killall Xcode

killall Messages
killall Music

echo "macOS settings changed"
