#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}

brew bundle --file={{ .chezmoi.sourceDir }}/dot_brewfile

{{ else if eq .chezmoi.os "linux" -}}

# TODO: Add Linux installation steps

{{ end -}}

goenv install 1.25 -s
goenv global 1.25
goenv rehash

volta install node@latest
volta install yarn@1
volta install npm-upgrade
