{{ $email := promptStringOnce . "email" "What is your email address?" -}}
{{ $name := promptStringOnce . "name" "What is your full name?" -}}
{{ $username := promptStringOnce . "username" "What is your username on macos?" -}}
{{ $ghUsername := promptStringOnce . "ghUsername" "What is your github username?" -}}

git:
  config:
    user:
      name: {{ $name }}
      email: {{ $email }}

github:
  username: {{ $ghUsername }}

