# Start the SSH agent if it's not running
if [ -z "$SSH_AUTH_SOCK" ]; then
  eval "$(ssh-agent -s -q)" >/dev/null
fi

# Core environment variables
# rustup
RUSTUP_BIN="${RUSTUP_BIN:-$(brew --prefix rustup)/bin}"
export PATH="$RUSTUP_BIN:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"

# Deduplicate PATH
typeset -U PATH
