# Antidote plugin manager

[[ -f ~/.zsh_plugins.txt ]] || touch ~/.zsh_plugins.txt

{{ if eq .chezmoi.os "darwin" -}}

# Lazy-load antidote from its functions directory.
fpath=(/opt/homebrew/share/antidote/functions $fpath)

{{ else if eq .chezmoi.os "linux" -}}
# TODO: MAKE THIS WORK
{{ end -}}

autoload -Uz antidote

if [[ ! ~/.zsh_plugins.zsh -nt ~/.zsh_plugins.txt ]]; then
  antidote bundle <~/.zsh_plugins.txt >|~/.zsh_plugins.zsh
fi

# Load plugins
source ~/.zsh_plugins.zsh

# Docker completion
zstyle ':completion:*:*:docker:*' option-stacking yes
zstyle ':completion:*:*:docker-*:*' option-stacking yes

# config in .profile
[ -f ~/.profile ] && source ~/.profile

# completions

autoload -U compinit
zstyle ':completion:*' rehash true
compinit -C

# theme

zstyle :prompt:pure:git:stash show yes
zstyle :prompt:pure:git:fetch only_upstream yes

autoload -U promptinit; promptinit
prompt pure
